html{
    background-color: rgb(189, 65, 65);
    font-family: sans-serif;
}
header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
}

header nav{
    display: flex;
    float: right;
    justify-content: right;
    align-items: top;
    padding-top: 70px;
    padding-right: 100px;
}

header nav ul {
    font-size: 18px;
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin-right: 40px;
}

header nav ul li a{
    color: black;
}

.Logo {
    width: 250px;
    height: 70px;
    padding-top: 70px;
    padding-left: 100px;
}

main {
    width: 100%;
    background-color: rgb(229, 180, 164);
}

.Mapa div iframe{
    width: 100%;
    height: 400px;
    box-shadow: 0 0 3px #999;
}

.Endereco{
    box-sizing: border-box;
    font-family: sans-serif;

    display: flex;
    position: absolute;
    min-height: 50vh;
    flex-direction: column;
    padding: 40px 45px;
    margin-left: 15%;
}

.Endereco h2{
    color: black;
    font-size: 2.5rem;
}

.Formulario{
    box-sizing: border-box;
    font-family: sans-serif;

    display: flex;
    align-items: right;
    justify-content: center;
    min-height: 50vh;
    flex-direction: column;
    padding: 40px 45px;
    margin-left: 50%;
}

.Formulario h2{
    color: black;
    font-size: 2.5rem;
}

.Formulario form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.Formulario form label{
    color: #000000;
    font-size: 17px;
    margin-bottom: 4px;
}

.Formulario form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5;
}

.Formulario form input:focus{
    border-radius: 16px;
}

.Formulario form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 30px;
    transition: all 0.5s;
}

.Formulario form textarea:focus{
    border-radius: 16px;
}

.Formulario form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    transition: all 1s;
    margin-bottom: 20px;
}

.Formulario form button:hover{
   background: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   border-radius: 16px;
}

.Finalizacao {
    margin-left: 200px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.Contato{
    position: absolute;
    float: left;
    margin-left: 800px;
    margin-top: -140px;
    margin-bottom: 50px;
}

.ParagrafoDeConclusao {
    margin-left: 10px;
    font-size: 18px;
    width: 400px;
}

.Logo_Bottom{
    width: 40%;
    margin-top: 60px;
}