html{
    font-family: sans-serif;
    background-color: rgb(108, 237, 224);
    overflow-x: hidden;
}
header {
    background-color: rgb(108, 237, 224);
    width: 100%;
    height: 200px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu{
    display: none;
}

.open{
    display: block;
}

header nav{
    display: flex;
    float: right;
    justify-content: right;
    align-items: top;
    padding-top: 90px;
    padding-right: 100px;
}

header nav ul {
    position: relative;
    z-index: 1;
    font-size: 18px;
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    border-right:1px solid rgb(255, 255, 255);
}

li:last-child {
    border-right: none;
}

header nav ul li a{
    padding: 14px 16px;
    color: rgb(255, 255, 255);
}

li a:hover:not(.active) {
    background-color: rgba(100, 157, 154, 0.212);
}

.active{
    background-color: #8c8c8c20;
}

.Logo {
    width: 15%;
    padding-top: 50px;
    padding-left: 100px;
}

main {
    width: 100%;
    background-color: rgb(189, 227, 227);
}

.Mapa div iframe{
    width: 100%;
    height: 400px;
    box-shadow: 0 0 3px #999;
}

.Endereco{
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    position: absolute;
    min-height: 50vh;
    flex-direction: column;
    padding: 40px 45px;
    margin-left: 15%;
}

.Endereco h2{
    color: black;
    font-size: 2.5rem;
}

.Endereco h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.Formulario{
    box-sizing: border-box;
    font-family: sans-serif;

    display: flex;
    align-items: right;
    justify-content: center;
    min-height: 50vh;
    flex-direction: column;
    padding: 40px 45px;
    margin-left: 50%;
}

.Formulario h2{
    color: black;
    font-size: 2.5rem;
}

.Formulario form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.Formulario form label{
    color: #000000;
    font-size: 17px;
    margin-bottom: 4px;
}

.Formulario form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5;
}

.Formulario form input:focus{
    border-radius: 16px;
}

.Formulario form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 30px;
    transition: all 0.5s;
}

.Formulario form textarea:focus{
    border-radius: 16px;
}

.Formulario form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    transition: all 1s;
    margin-bottom: 20px;
}

.Formulario form button:hover{
   background: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   border-radius: 16px;
}

.Finalizacao {
    margin-left: 200px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.Contato{
    position: absolute;
    font-size: 14px;
    float: left;
    margin-left: 750px;
    margin-top: -140px;
    margin-bottom: 50px;
    color: rgb(240, 240, 240);
}

.ParagrafoDeConclusao {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 14px;
    width: 400px;
    color: rgb(240, 240, 240);
}
.Logo_Bottom {
    width: 15%;
    padding-top: 70px;
    padding-left: 90px;
}

hr{
    border-color: white;
    border-radius: 10px;
}

.marca{
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
}