html{
    background-color: rgb(189, 65, 65);
    font-family: sans-serif;
    min-height: 100vh;
}

header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
}

header nav{
    display: flex;
    float: right;
    justify-content: right;
    align-items: top;
    padding-top: 70px;
    padding-right: 100px;
}

header nav ul {
    font-size: 18px;
    list-style: none;
}

header nav ul li{
    display: inline-block;
    margin-right: 40px;
}

header nav ul li a{
    color: black;
}

.Logo {
    width: 250px;
    height: 70px;
    padding-top: 70px;
    padding-left: 100px;
}

main {
    width: 100%;
    background-color: rgb(189, 227, 227);
}

.Sobre {
    background-color: rgb(189, 227, 227);
    margin-left: 25%;
    height: 750px;
}

.Sobre img{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: -200px;
    width: 30%;
    border-radius: 50%;
    overflow: hidden;
}

.Sobre h4{
    position: absolute;
    float:right;
    padding-left: 26.5%;
    margin-top: -350px;
    margin-bottom: -210px;
    font-size: 24px;
}

.Sobre h2{
    position: absolute;
    float: left;
    padding-left: 26.5%;
    margin-top: -450px;
    margin-bottom: -400px;
    font-size: 54px;
}

.Sobre p{
    position: absolute;
    float: left;
    padding-left: 26.5%;
    margin-top: -290px;
    margin-bottom: -24px;
    text-align: left;
    font-size: 18px;
    width: 500px;
    display: block;
}

.Finalizacao {
    margin-left: 200px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.Contato{
    position: absolute;
    float: left;
    margin-left: 800px;
    margin-top: -140px;
    margin-bottom: 50px;
}

.ParagrafoDeConclusao {
    margin-left: 10px;
    font-size: 18px;
    width: 400px;
}

.Logo_Bottom{
    width: 40%;
    margin-top: 60px;
}

.marca{
    margin-left: 45%;
    font-size: 14px;
}